processes-shell/tests-out/*.err
processes-shell/output.9
processes-shell/tests-out/*.out
processes-shell/tests-out/*.rc
tests-out/2.err
tests-out/2.out
tests-out/2.rc
tests-out/3.err
tests-out/3.out
tests-out/3.rc
tests-out/4.err
tests-out/4.out
tests-out/4.rc
tests-out/5.err
tests-out/5.out
tests-out/5.rc
tests-out/6.err
tests-out/6.out
tests-out/6.rc
tests-out/7.err
tests-out/7.out
tests-out/7.rc
tests-out/8.err
tests-out/8.out
tests-out/8.rc

tests-out/*
tests-out/1.out
tests-out/1.rc
tests-out/2.err
tests-out/2.out
tests-out/2.rc
tests-out/3.err
tests-out/3.out
tests-out/3.rc
tests-out/4.err
tests-out/4.out
tests-out/4.rc
tests-out/5.err
tests-out/5.out
tests-out/5.rc
tests-out/6.err
tests-out/6.out
tests-out/6.rc
tests-out/7.err
tests-out/7.out
tests-out/7.rc


initial-utilities/wcat/tests-out/*
initial-utilities/wgrep/tests-out/
initial-utilities/wzip/tests-out/*
initial-reverse/tests-out/*
initial-utilities/wunzip/tests-out/*

initial-utilities/wgrep/wgrep
initial-utilities/wzip/wunzip
initial-utilities/wzip/wzip
initial-utilities/wcat/wcat

ostep.xcworkspace/*

initial-utilities/wunzip/wunzip

initial-reverse/input.txt
initial-reverse/output.txt
initial-reverse/reverse
initial-utilities/wzip/t
initial-utilities/wzip/t.z
initial-utilities/wzip/t1

processes-shell/t
processes-shell/wish
processes-shell/wish1

exit
output
tests-out/1.err
tests-out/1.out
tests-out/1.rc
.idea/*
.DS_Store
concurrency-mapreduce/a
concurrency-mapreduce/mapreduce
concurrency-mapreduce/mapreduce.o
concurrency-mapreduce/my_sort
concurrency-mapreduce/t
concurrency-mapreduce/x_intermediate.1
concurrency-mapreduce/x_intermediate.2
concurrency-mapreduce/x_intermediate.3
concurrency-mapreduce/x_intermediate.4
concurrency-mapreduce/x_intermediate.5
concurrency-mapreduce/x_intermediate.6
concurrency-pzip/.DS_Store
concurrency-pzip/a
concurrency-pzip/b
concurrency-pzip/m.txt
concurrency-pzip/opzip
concurrency-webserver/.DS_Store
concurrency-webserver/src/io_helper.o
concurrency-webserver/src/request.o
concurrency-webserver/src/spin.cgi
concurrency-webserver/src/wclient
concurrency-webserver/src/wclient.o
concurrency-webserver/src/wclient_m
concurrency-webserver/src/wclient_m.o
concurrency-webserver/src/wserver
concurrency-webserver/src/wserver.o
initial-xv6/src/Untitled.xcworkspace/contents.xcworkspacedata
initial-xv6/src/Untitled.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
initial-xv6/src/Untitled.xcworkspace/xcuserdata/wanghao18.xcuserdatad/UserInterfaceState.xcuserstate
initial-xv6/tests-out/1.err
initial-xv6/tests-out/1.out
initial-xv6/tests-out/1.rc
initial-xv6/tests-out/2.err
initial-xv6/tests-out/2.out
initial-xv6/tests-out/2.rc
initial-utilities/wzip/t1.z
initial-xv6/src/.cvsignore
initial-xv6/src/.dir-locals.el
initial-xv6/src/.gdbinit.tmpl
initial-xv6/src/.gitignore
initial-xv6/src/1Makefile
scheduling-xv6-lottery/tests-out/*
vm-xv6-intro/tests-out/1.err
vm-xv6-intro/tests-out/1.out
vm-xv6-intro/tests-out/1.rc
concurrency-xv6-threads/tests-out/1.err
concurrency-xv6-threads/tests-out/1.out
concurrency-xv6-threads/tests-out/1.rc