initial-utilities/wcat/tests-out/*
initial-utilities/wgrep/tests-out/
initial-utilities/wzip/tests-out/*
initial-reverse/tests-out/*
initial-utilities/wunzip/tests-out/*

initial-utilities/wgrep/wgrep
initial-utilities/wzip/wunzip
initial-utilities/wzip/wzip
initial-utilities/wcat/wcat

ostep.xcworkspace/*

initial-utilities/wunzip/wunzip

initial-reverse/input.txt
initial-reverse/output.txt
initial-reverse/reverse
initial-utilities/wzip/t
initial-utilities/wzip/t.z
initial-utilities/wzip/t1

processes-shell/t
processes-shell/wish
processes-shell/wish1

exit
output
tests-out/1.err
tests-out/1.out
tests-out/1.rc
